In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import math
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.impute import SimpleImputer
from IPython.display import display
pd.options.display.max_columns = None
pd.set_option('display.float_format', lambda x: '%.4f' % x)

## **Data Augmentation**

- Drop redundant columns（``City``, ``Zip code``）,since ``Latitude``, ``Logitude`` columns already represent customer location

In [ ]:
all_data = pd.read_csv('/content/drive/MyDrive/MLFP/Data/MLFP_XY(dropped).csv', index_col=0)
display(all_data)
all_data.drop(['City', 'Zip Code'], axis = 1 ,inplace=True)

display(all_data.head(5))
print(all_data.shape)

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,City,Zip Code,Lat Long,Latitude,Longitude,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,Avg Monthly GB Download,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Churn Category
0,0650-BWOZN,Male,37.0000,No,No,NaN,No,0.0000,NaN,NaN,NaN,NaN,NaN,No,0.0000,35.0000,NaN,Yes,NaN,No,Yes,Fiber Optic,16.0000,No,NaN,Yes,No,Yes,NaN,No,Yes,One Year,Yes,Bank Withdrawal,85.1500,3030.6000,0.0000,0.0000,892.8500,3923.4500,1.0000,Competitor
1,0562-FGDCR,NaN,54.0000,No,No,No,No,0.0000,Rosamond,93560.0000,"34.903052, -118.411251",34.9031,-118.4113,No,0.0000,1.0000,Offer E,NaN,0.0000,NaN,NaN,Cable,29.0000,No,No,No,No,No,Yes,Yes,Yes,Month-to-Month,No,NaN,35.9000,35.9000,0.0000,0.0000,0.0000,35.9000,1.0000,Competitor
2,6688-UZPWD,Male,NaN,Yes,No,NaN,Yes,NaN,Huntington Beach,92649.0000,"33.721917, -118.043237",33.7219,-118.0432,Yes,4.0000,35.0000,Offer C,Yes,41.0200,No,No,NaN,NaN,No,No,No,No,NaN,No,No,No,One Year,NaN,Bank Withdrawal,20.0500,746.7500,NaN,0.0000,1435.7000,2182.4500,NaN,No Churn
3,2905-KFQUV,Male,23.0000,Yes,No,No,No,0.0000,San Jose,95129.0000,"37.305622, -122.000887",NaN,-122.0009,No,0.0000,7.0000,Offer E,Yes,21.5800,No,NaN,Fiber Optic,71.0000,No,No,Yes,NaN,NaN,NaN,Yes,No,Month-to-Month,NaN,NaN,74.6500,544.5500,0.0000,10.0000,NaN,705.6100,3.0000,Competitor
4,9720-JJJOR,Female,41.0000,No,NaN,Yes,No,0.0000,Calpine,96124.0000,"39.672813, -120.456699",39.6728,-120.4567,Yes,8.0000,68.0000,NaN,Yes,17.1200,Yes,No,NaN,0.0000,No,No,No,NaN,No,No,No,No,Two Year,No,Credit Card,25.8000,1911.5000,0.0000,NaN,1164.1600,3075.6600,NaN,No Churn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,4587-VVTOX,Male,49.0000,No,No,No,No,NaN,Berkeley,94704.0000,"37.871416, -122.246597",37.8714,NaN,No,0.0000,15.0000,NaN,Yes,5.5400,No,No,NaN,0.0000,No,No,No,No,NaN,No,No,No,One Year,NaN,Credit Card,NaN,304.6000,0.0000,0.0000,83.1000,387.7000,4.0000,NaN
7039,7716-YTYHG,Female,78.0000,No,Yes,No,No,0.0000,Anderson,96007.0000,NaN,40.4486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7040,7649-PHJVR,Male,27.0000,Yes,No,Yes,No,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,1.0000,21.0000,Offer D,Yes,21.8300,Yes,Yes,Fiber Optic,59.0000,No,No,Yes,Yes,Yes,Yes,Yes,Yes,Month-to-Month,Yes,NaN,106.1000,2249.9500,0.0000,0.0000,458.4300,NaN,1.0000,NaN
7041,7855-DIWPO,Female,38.0000,NaN,NaN,NaN,NaN,3.0000,Irvine,92604.0000,"33.688546, -117.788091",33.6885,NaN,Yes,1.0000,24.0000,Offer C,Yes,4.4700,No,No,NaN,0.0000,No,No,NaN,No,No,No,No,No,One Year,No,Credit Card,19.9000,533.5000,0.0000,NaN,NaN,640.7800,NaN,NaN
7042,8197-BFWVU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inglewood,90301.0000,"33.956445, -118.358634",33.9564,-118.3586,No,0.0000,5.0000,Offer E,Yes,34.2600,No,No,NaN,0.0000,No,No,No,No,No,No,No,No,Month-to-Month,No,Credit Card,21.0500,113.8500,0.0000,0.0000,171.3000,285.1500,3.0000,NaN

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Lat Long,Latitude,Longitude,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,Avg Monthly GB Download,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Churn Category
0,0650-BWOZN,Male,37.0000,No,No,NaN,No,0.0000,NaN,NaN,NaN,No,0.0000,35.0000,NaN,Yes,NaN,No,Yes,Fiber Optic,16.0000,No,NaN,Yes,No,Yes,NaN,No,Yes,One Year,Yes,Bank Withdrawal,85.1500,3030.6000,0.0000,0.0000,892.8500,3923.4500,1.0000,Competitor
1,0562-FGDCR,NaN,54.0000,No,No,No,No,0.0000,"34.903052, -118.411251",34.9031,-118.4113,No,0.0000,1.0000,Offer E,NaN,0.0000,NaN,NaN,Cable,29.0000,No,No,No,No,No,Yes,Yes,Yes,Month-to-Month,No,NaN,35.9000,35.9000,0.0000,0.0000,0.0000,35.9000,1.0000,Competitor
2,6688-UZPWD,Male,NaN,Yes,No,NaN,Yes,NaN,"33.721917, -118.043237",33.7219,-118.0432,Yes,4.0000,35.0000,Offer C,Yes,41.0200,No,No,NaN,NaN,No,No,No,No,NaN,No,No,No,One Year,NaN,Bank Withdrawal,20.0500,746.7500,NaN,0.0000,1435.7000,2182.4500,NaN,No Churn
3,2905-KFQUV,Male,23.0000,Yes,No,No,No,0.0000,"37.305622, -122.000887",NaN,-122.0009,No,0.0000,7.0000,Offer E,Yes,21.5800,No,NaN,Fiber Optic,71.0000,No,No,Yes,NaN,NaN,NaN,Yes,No,Month-to-Month,NaN,NaN,74.6500,544.5500,0.0000,10.0000,NaN,705.6100,3.0000,Competitor
4,9720-JJJOR,Female,41.0000,No,NaN,Yes,No,0.0000,"39.672813, -120.456699",39.6728,-120.4567,Yes,8.0000,68.0000,NaN,Yes,17.1200,Yes,No,NaN,0.0000,No,No,No,NaN,No,No,No,No,Two Year,No,Credit Card,25.8000,1911.5000,0.0000,NaN,1164.1600,3075.6600,NaN,No Churn

(7043, 40)

- Location-related columns include `` Latitude ``, ``Longitude``, ``Lat Long``, in which some values are missing but can be imputed with each other
- Impute values of``Lat Long`` to `` Latitude ``與``Longitude``, ensuring consistency of the columns' values
- After the imputation, drop column ``Lat Long``, since we have seperated lat, long columns and it is better to has the lat and long considered in 2 dimensions

In [ ]:
for i in range(all_data.shape[0]):
  if type(all_data.loc[i, 'Lat Long']) is str:  # not NAN
    s = all_data.loc[i, 'Lat Long'].index(',')
    lat = all_data.loc[i, 'Lat Long'][:s]
    longg = all_data.loc[i, 'Lat Long'][s+1:]

    all_data.loc[i, 'Latitude'] = lat
    all_data.loc[i, 'Longitude'] = longg

<ipython-input-8-450299cc2417>:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '34.903052' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  all_data.loc[i, 'Latitude'] = lat
<ipython-input-8-450299cc2417>:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value ' -118.411251' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  all_data.loc[i, 'Longitude'] = longg

In [ ]:
all_data.drop(labels="Lat Long", axis=1, inplace=True)
all_data.Latitude = all_data.Latitude.astype(float)
all_data.Longitude = all_data.Longitude.astype(float)
display(all_data.head(5))

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Latitude,Longitude,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,Avg Monthly GB Download,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Churn Category
0,0650-BWOZN,Male,37.0000,No,No,NaN,No,0.0000,NaN,NaN,No,0.0000,35.0000,NaN,Yes,NaN,No,Yes,Fiber Optic,16.0000,No,NaN,Yes,No,Yes,NaN,No,Yes,One Year,Yes,Bank Withdrawal,85.1500,3030.6000,0.0000,0.0000,892.8500,3923.4500,1.0000,Competitor
1,0562-FGDCR,NaN,54.0000,No,No,No,No,0.0000,34.9031,-118.4113,No,0.0000,1.0000,Offer E,NaN,0.0000,NaN,NaN,Cable,29.0000,No,No,No,No,No,Yes,Yes,Yes,Month-to-Month,No,NaN,35.9000,35.9000,0.0000,0.0000,0.0000,35.9000,1.0000,Competitor
2,6688-UZPWD,Male,NaN,Yes,No,NaN,Yes,NaN,33.7219,-118.0432,Yes,4.0000,35.0000,Offer C,Yes,41.0200,No,No,NaN,NaN,No,No,No,No,NaN,No,No,No,One Year,NaN,Bank Withdrawal,20.0500,746.7500,NaN,0.0000,1435.7000,2182.4500,NaN,No Churn
3,2905-KFQUV,Male,23.0000,Yes,No,No,No,0.0000,37.3056,-122.0009,No,0.0000,7.0000,Offer E,Yes,21.5800,No,NaN,Fiber Optic,71.0000,No,No,Yes,NaN,NaN,NaN,Yes,No,Month-to-Month,NaN,NaN,74.6500,544.5500,0.0000,10.0000,NaN,705.6100,3.0000,Competitor
4,9720-JJJOR,Female,41.0000,No,NaN,Yes,No,0.0000,39.6728,-120.4567,Yes,8.0000,68.0000,NaN,Yes,17.1200,Yes,No,NaN,0.0000,No,No,No,NaN,No,No,No,No,Two Year,No,Credit Card,25.8000,1911.5000,0.0000,NaN,1164.1600,3075.6600,NaN,No Churn

## **Encoding (non-numerical)**
- For non-numerical columns, it is necessary to encode them before training
- **Frequency encoding** is a suitable method to encode since it could represent the occurence of each categories and take rare cases into numeric considerations
- Their are two non-numerical columns that **SHOULD NOT** be frenquecy-encoded: ``Customer ID`` and ``Churn Category``
1. ``Customer ID`` is the unique identifier of each customer and does not represent any characteristic of a customer, therefore, we do not need this columns' value to predict the final result
2. ``Churn Category`` is the dependent variable, which is the variable that we want to predict, it should be simply lable encoded.

In [ ]:
numerical = set(all_data._get_numeric_data().columns)
print(numerical)
cols = all_data.columns
non_numerical = set(cols) - set(all_data._get_numeric_data().columns)
print(non_numerical)

{'Total Charges', 'Monthly Charge', 'Number of Dependents', 'Avg Monthly GB Download', 'Total Extra Data Charges', 'Satisfaction Score', 'Number of Referrals', 'Longitude', 'Latitude', 'Total Refunds', 'Age', 'Total Long Distance Charges', 'Total Revenue', 'Avg Monthly Long Distance Charges', 'Tenure in Months'}
{'Gender', 'Married', 'Senior Citizen', 'Payment Method', 'Dependents', 'Offer', 'Internet Service', 'Churn Category', 'Paperless Billing', 'Online Security', 'Unlimited Data', 'Online Backup', 'Multiple Lines', 'Streaming TV', 'Under 30', 'Referred a Friend', 'Phone Service', 'Customer ID', 'Streaming Music', 'Streaming Movies', 'Contract', 'Premium Tech Support', 'Internet Type', 'Device Protection Plan'}

In [ ]:
non_numerical.remove('Customer ID')  # no need
non_numerical.remove('Churn Category') # watch out the label
print(non_numerical)

{'Gender', 'Married', 'Senior Citizen', 'Payment Method', 'Dependents', 'Offer', 'Internet Service', 'Paperless Billing', 'Online Security', 'Unlimited Data', 'Online Backup', 'Multiple Lines', 'Streaming TV', 'Under 30', 'Referred a Friend', 'Phone Service', 'Streaming Music', 'Streaming Movies', 'Contract', 'Premium Tech Support', 'Internet Type', 'Device Protection Plan'}

### **Frequency Encoding, Lable Encoding**
1. For columns that has <= 3 unique values, that is, having under 3 unique categoris, simply use **lable encoding** to transform to 0, 1, 2
2. For columns that has > 3 categories, encode with **relative frequency**. This prevents ordinal relationship created by label encoding, which misleads the model to view the categories wrongly, for example: planA, planB, planC encoded as 0, 1, 2, suggesting planC > planB > planA. Also, label encoing does not work good on high-cardinality features and might lead to overfitting. However, frequency encoding represnet the relative frequency of each categories, which works well with tree based models.

Both encoding methods reduce the high-dimensionality curse of using the common one-hot encoding, which creates lots of features and is memory-inefficient.

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
#le.fit(["No", "Yes"])
#print(le.classes_)


for col in non_numerical:
  series = all_data[col]

  if len(series.unique()) <= 3: #label encodign
    all_data[col] = pd.Series(
        le.fit_transform(series[series.notnull()]),
        index=series[series.notnull()].index
    )
  else:
    transform = all_data[col].value_counts().to_dict() #frequency encoding
    print(transform)
    a = sum(list(transform.values()))
    for i in range(7043):
      try:
        if math.isnan(all_data.loc[i, col]):
          continue
        else:
          all_data.loc[i, col] = transform[all_data.loc[i, col]] / a #calculate relative frequency

      except:
          all_data.loc[i, col] = transform[all_data.loc[i, col]] / a

['No' 'Yes']
{'Bank Withdrawal': 3004, 'Credit Card': 2099, 'Mailed Check': 290}
{'None': 2981, 'Offer B': 643, 'Offer E': 598, 'Offer D': 458, 'Offer A': 397, 'Offer C': 316}
{'Month-to-Month': 2725, 'Two Year': 1467, 'One Year': 1201}
{'Fiber Optic': 2299, 'DSL': 1250, 'None': 1187, 'Cable': 657}

In [ ]:
display(all_data)

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Latitude,Longitude,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,Avg Monthly GB Download,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Churn Category
0,0650-BWOZN,1.0000,37.0000,0.0000,0.0000,nan,0.0000,0.0000,nan,nan,0.0000,0.0000,35.0000,0.5528,1.0000,nan,0.0000,1.0000,0.4263,16.0000,0.0000,nan,1.0000,0.0000,1.0000,nan,0.0000,1.0000,0.2227,1.0000,0.5570,85.1500,3030.6000,0.0000,0.0000,892.8500,3923.4500,1.0000,Competitor
1,0562-FGDCR,nan,54.0000,0.0000,0.0000,0.0000,0.0000,0.0000,34.9031,-118.4113,0.0000,0.0000,1.0000,0.1109,nan,0.0000,nan,nan,0.1218,29.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,1.0000,0.5053,0.0000,NaN,35.9000,35.9000,0.0000,0.0000,0.0000,35.9000,1.0000,Competitor
2,6688-UZPWD,1.0000,nan,1.0000,0.0000,nan,1.0000,nan,33.7219,-118.0432,1.0000,4.0000,35.0000,0.0586,1.0000,41.0200,0.0000,0.0000,0.2201,nan,0.0000,0.0000,0.0000,0.0000,nan,0.0000,0.0000,0.0000,0.2227,nan,0.5570,20.0500,746.7500,nan,0.0000,1435.7000,2182.4500,nan,No Churn
3,2905-KFQUV,1.0000,23.0000,1.0000,0.0000,0.0000,0.0000,0.0000,37.3056,-122.0009,0.0000,0.0000,7.0000,0.1109,1.0000,21.5800,0.0000,nan,0.4263,71.0000,0.0000,0.0000,1.0000,nan,nan,nan,1.0000,0.0000,0.5053,nan,NaN,74.6500,544.5500,0.0000,10.0000,nan,705.6100,3.0000,Competitor
4,9720-JJJOR,0.0000,41.0000,0.0000,nan,1.0000,0.0000,0.0000,39.6728,-120.4567,1.0000,8.0000,68.0000,NaN,1.0000,17.1200,1.0000,0.0000,0.2201,0.0000,0.0000,0.0000,0.0000,nan,0.0000,0.0000,0.0000,0.0000,0.2720,0.0000,0.3892,25.8000,1911.5000,0.0000,nan,1164.1600,3075.6600,nan,No Churn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,4587-VVTOX,1.0000,49.0000,0.0000,0.0000,0.0000,0.0000,nan,37.8714,-122.2466,0.0000,0.0000,15.0000,0.5528,1.0000,5.5400,0.0000,0.0000,0.2201,0.0000,0.0000,0.0000,0.0000,0.0000,nan,0.0000,0.0000,0.0000,0.2227,nan,0.3892,nan,304.6000,0.0000,0.0000,83.1000,387.7000,4.0000,NaN
7039,7716-YTYHG,0.0000,78.0000,0.0000,1.0000,0.0000,0.0000,0.0000,40.4486,nan,nan,nan,nan,NaN,nan,nan,nan,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,nan,NaN,nan,nan,nan,nan,nan,nan,nan,NaN
7040,7649-PHJVR,1.0000,27.0000,1.0000,0.0000,1.0000,0.0000,0.0000,nan,nan,nan,1.0000,21.0000,0.0849,1.0000,21.8300,1.0000,1.0000,0.4263,59.0000,0.0000,0.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,0.5053,1.0000,NaN,106.1000,2249.9500,0.0000,0.0000,458.4300,nan,1.0000,NaN
7041,7855-DIWPO,0.0000,38.0000,nan,nan,nan,nan,3.0000,33.6885,-117.7881,1.0000,1.0000,24.0000,0.0586,1.0000,4.4700,0.0000,0.0000,0.2201,0.0000,0.0000,0.0000,nan,0.0000,0.0000,0.0000,0.0000,0.0000,0.2227,0.0000,0.3892,19.9000,533.5000,0.0000,nan,nan,640.7800,nan,NaN
7042,8197-BFWVU,nan,nan,nan,nan,nan,nan,nan,33.9564,-118.3586,0.0000,0.0000,5.0000,0.1109,1.0000,34.2600,0.0000,0.0000,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.5053,0.0000,0.3892,21.0500,113.8500,0.0000,0.0000,171.3000,285.1500,3.0000,NaN

### **Label encoding for Target Variable**
- Label-encode the target variable
- Check the distribution of churn categories >> **unbalanced dataset** with most rows being **No Churn**

In [ ]:
print(all_data["Churn Category"].value_counts())
category = ['No Churn', 'Competitor', 'Dissatisfaction', 'Attitude', 'Price', 'Other']
for i in range(all_data.shape[0]):
  if type(all_data.loc[i, 'Churn Category']) is str:  # not NAN
    x = all_data.loc[i, 'Churn Category']
    all_data.loc[i, 'Churn Category'] = category.index(x)
print(all_data["Churn Category"].value_counts())

No Churn           3118
Competitor          490
Attitude            201
Dissatisfaction     177
Price               124
Other               116
Name: Churn Category, dtype: int64
0    3118
1     490
3     201
2     177
4     124
5     116
Name: Churn Category, dtype: int64

## **Standardization**
Standardizing the data prevents model being dominated with feature that has larger values. Though during frequency encoding, the features are encoded in relative frequencie, which are in the same scale, however, for columns that are originally numeric, it will be standardized here.

### **Min-Max Normalization**
Min-max scaling preserves the original data distribution while ensuring comparibility accross feature, unlike normal z-score standardization.

Though typically not necessary for tree-based models, which will be used later, it is not harmful to standardize.

In [ ]:
print(all_data.dtypes)
display(all_data.head(5))

Customer ID                           object
Gender                               float64
Age                                  float64
Under 30                             float64
Senior Citizen                       float64
Married                              float64
Dependents                           float64
Number of Dependents                 float64
Latitude                             float64
Longitude                            float64
Referred a Friend                    float64
Number of Referrals                  float64
Tenure in Months                     float64
Offer                                 object
Phone Service                        float64
Avg Monthly Long Distance Charges    float64
Multiple Lines                       float64
Internet Service                     float64
Internet Type                         object
Avg Monthly GB Download              float64
Online Security                      float64
Online Backup                        float64
Device Protection Plan               float64
Premium Tech Support                 float64
Streaming TV                         float64
Streaming Movies                     float64
Streaming Music                      float64
Unlimited Data                       float64
Contract                              object
Paperless Billing                    float64
Payment Method                        object
Monthly Charge                       float64
Total Charges                        float64
Total Refunds                        float64
Total Extra Data Charges             float64
Total Long Distance Charges          float64
Total Revenue                        float64
Satisfaction Score                   float64
Churn Category                        object
dtype: object

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Latitude,Longitude,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,Avg Monthly GB Download,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Churn Category
0,0650-BWOZN,1.0000,37.0000,0.0000,0.0000,nan,0.0000,0.0000,nan,nan,0.0000,0.0000,35.0000,0.5528,1.0000,nan,0.0000,1.0000,0.4263,16.0000,0.0000,nan,1.0000,0.0000,1.0000,nan,0.0000,1.0000,0.2227,1.0000,0.5570,85.1500,3030.6000,0.0000,0.0000,892.8500,3923.4500,1.0000,1
1,0562-FGDCR,nan,54.0000,0.0000,0.0000,0.0000,0.0000,0.0000,34.9031,-118.4113,0.0000,0.0000,1.0000,0.1109,nan,0.0000,nan,nan,0.1218,29.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,1.0000,0.5053,0.0000,NaN,35.9000,35.9000,0.0000,0.0000,0.0000,35.9000,1.0000,1
2,6688-UZPWD,1.0000,nan,1.0000,0.0000,nan,1.0000,nan,33.7219,-118.0432,1.0000,4.0000,35.0000,0.0586,1.0000,41.0200,0.0000,0.0000,0.2201,nan,0.0000,0.0000,0.0000,0.0000,nan,0.0000,0.0000,0.0000,0.2227,nan,0.5570,20.0500,746.7500,nan,0.0000,1435.7000,2182.4500,nan,0
3,2905-KFQUV,1.0000,23.0000,1.0000,0.0000,0.0000,0.0000,0.0000,37.3056,-122.0009,0.0000,0.0000,7.0000,0.1109,1.0000,21.5800,0.0000,nan,0.4263,71.0000,0.0000,0.0000,1.0000,nan,nan,nan,1.0000,0.0000,0.5053,nan,NaN,74.6500,544.5500,0.0000,10.0000,nan,705.6100,3.0000,1
4,9720-JJJOR,0.0000,41.0000,0.0000,nan,1.0000,0.0000,0.0000,39.6728,-120.4567,1.0000,8.0000,68.0000,NaN,1.0000,17.1200,1.0000,0.0000,0.2201,0.0000,0.0000,0.0000,0.0000,nan,0.0000,0.0000,0.0000,0.0000,0.2720,0.0000,0.3892,25.8000,1911.5000,0.0000,nan,1164.1600,3075.6600,nan,0

In [ ]:
all_data["Offer"] = all_data["Offer"].astype(float)
all_data["Internet Type"] = all_data["Internet Type"].astype(float)
all_data["Contract"] = all_data["Contract"].astype(float)
all_data["Payment Method"] = all_data["Payment Method"].astype(float)

In [ ]:
numerical = all_data._get_numeric_data().columns
print(numerical)
print(len(numerical))

# min max standardization
for col in numerical:
    all_data[col] = (all_data[col] - all_data[col].min()) / (all_data[col].max() - all_data[col].min())
all_data.describe()

Index(['Gender', 'Age', 'Under 30', 'Senior Citizen', 'Married', 'Dependents',
       'Number of Dependents', 'Latitude', 'Longitude', 'Referred a Friend',
       'Number of Referrals', 'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Satisfaction Score'],
      dtype='object')
37

,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Latitude,Longitude,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,Avg Monthly GB Download,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score
count,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,6070.0000,6077.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000,5393.0000
mean,0.5064,0.4549,0.1967,0.1634,0.4823,0.2342,0.0533,0.3870,0.4499,0.4612,0.1754,0.4442,0.5859,0.9043,0.4582,0.4230,0.7775,0.5810,0.2391,0.2826,0.3466,0.3445,0.2859,0.3827,0.3903,0.3547,0.6673,0.5528,0.5902,0.8164,0.4611,0.2614,0.0380,0.0453,0.2105,0.2528,0.5624
std,0.5000,0.2755,0.3976,0.3697,0.4997,0.4235,0.1080,0.2619,0.2134,0.4985,0.2717,0.3463,0.4614,0.2942,0.3087,0.4941,0.4160,0.3767,0.2395,0.4503,0.4759,0.4753,0.4519,0.4861,0.4879,0.4785,0.4712,0.4561,0.4918,0.2517,0.3005,0.2612,0.1556,0.1661,0.2368,0.2392,0.3001
min,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
25%,0.0000,0.2295,0.0000,0.0000,0.0000,0.0000,0.0000,0.1525,0.2497,0.0000,0.0000,0.1127,0.1058,1.0000,0.1828,0.0000,1.0000,0.3228,0.0353,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.1745,0.0000,0.6665,0.1647,0.0455,0.0000,0.0000,0.0201,0.0508,0.5000
50%,1.0000,0.4426,0.0000,0.0000,0.0000,0.0000,0.0000,0.3880,0.4680,0.0000,0.0000,0.3944,1.0000,1.0000,0.4513,0.0000,1.0000,0.3611,0.1882,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,1.0000,1.0000,0.5189,0.1592,0.0000,0.0000,0.1158,0.1750,0.5000
75%,1.0000,0.6721,0.0000,0.0000,1.0000,0.0000,0.0000,0.5984,0.6260,1.0000,0.2727,0.7746,1.0000,1.0000,0.7249,1.0000,1.0000,1.0000,0.3176,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,0.7124,0.4344,0.0000,0.0000,0.3353,0.4019,0.7500
max,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000

## **KNN imputer: fill missing value**
KNN is a good way to impute missing values, since:
1. It considered the relationship between similar instances, making this imputing method context-aware
2. Keep the original distribution of the data, while simple methods (such as: mean, mode, median imputaion) might shift the distribution
3. Can be simply applied on numeric and non-numeric data (for non-numeric data, impute with mode of neighbors)

In [ ]:
knn_input = all_data.iloc[:,1:-1]
display(knn_input.head(5))

,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Latitude,Longitude,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,Avg Monthly GB Download,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score
0,1.0000,0.2951,0.0000,0.0000,nan,0.0000,0.0000,nan,nan,0.0000,0.0000,0.4789,1.0000,1.0000,nan,0.0000,1.0000,1.0000,0.1882,0.0000,nan,1.0000,0.0000,1.0000,nan,0.0000,1.0000,0.0000,1.0000,1.0000,0.6657,0.3480,0.0000,0.0000,0.2505,0.3263,0.0000
1,nan,0.5738,0.0000,0.0000,0.0000,0.0000,0.0000,0.2495,0.5827,0.0000,0.0000,0.0000,0.1058,nan,0.0000,nan,nan,0.0000,0.3412,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,1.0000,1.0000,0.0000,nan,0.1756,0.0020,0.0000,0.0000,0.0000,0.0012,0.0000
2,1.0000,nan,1.0000,0.0000,nan,1.0000,nan,0.1240,0.6191,1.0000,0.3636,0.4789,0.0000,1.0000,0.8206,0.0000,0.0000,0.3228,nan,0.0000,0.0000,0.0000,0.0000,nan,0.0000,0.0000,0.0000,0.0000,nan,1.0000,0.0179,0.0841,nan,0.0000,0.4028,0.1807,nan
3,1.0000,0.0656,1.0000,0.0000,0.0000,0.0000,0.0000,0.5050,0.2276,0.0000,0.0000,0.0845,0.1058,1.0000,0.4317,0.0000,nan,1.0000,0.8353,0.0000,0.0000,1.0000,nan,nan,nan,1.0000,0.0000,1.0000,nan,nan,0.5612,0.0607,0.0000,0.0667,nan,0.0572,0.5000
4,0.0000,0.3607,0.0000,nan,1.0000,0.0000,0.0000,0.7566,0.3803,1.0000,0.7273,0.9437,nan,1.0000,0.3425,1.0000,0.0000,0.3228,0.0000,0.0000,0.0000,0.0000,nan,0.0000,0.0000,0.0000,0.0000,0.1745,0.0000,0.6665,0.0751,0.2187,0.0000,nan,0.3266,0.2554,nan

In [ ]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
new_data = imputer.fit_transform(knn_input.values)

In [ ]:
new_data = pd.DataFrame(new_data, columns = all_data.columns[1:-1])
display(new_data)

,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Latitude,Longitude,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,Avg Monthly GB Download,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score
0,1.0000,0.2951,0.0000,0.0000,0.2000,0.0000,0.0000,0.5243,0.4646,0.0000,0.0000,0.4789,1.0000,1.0000,0.4838,0.0000,1.0000,1.0000,0.1882,0.0000,0.6000,1.0000,0.0000,1.0000,0.4000,0.0000,1.0000,0.0000,1.0000,1.0000,0.6657,0.3480,0.0000,0.0000,0.2505,0.3263,0.0000
1,0.6000,0.5738,0.0000,0.0000,0.0000,0.0000,0.0000,0.2495,0.5827,0.0000,0.0000,0.0000,0.1058,0.2000,0.0000,0.0000,1.0000,0.0000,0.3412,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,1.0000,1.0000,0.0000,0.6000,0.1756,0.0020,0.0000,0.0000,0.0000,0.0012,0.0000
2,1.0000,0.2885,1.0000,0.0000,0.4000,1.0000,0.0889,0.1240,0.6191,1.0000,0.3636,0.4789,0.0000,1.0000,0.8206,0.0000,0.0000,0.3228,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.4000,1.0000,0.0179,0.0841,0.0000,0.0000,0.4028,0.1807,0.6000
3,1.0000,0.0656,1.0000,0.0000,0.0000,0.0000,0.0000,0.5050,0.2276,0.0000,0.0000,0.0845,0.1058,1.0000,0.4317,0.0000,1.0000,1.0000,0.8353,0.0000,0.0000,1.0000,0.4000,0.8000,0.4000,1.0000,0.0000,1.0000,0.4000,0.7999,0.5612,0.0607,0.0000,0.0667,0.0323,0.0572,0.5000
4,0.0000,0.3607,0.0000,0.2000,1.0000,0.0000,0.0000,0.7566,0.3803,1.0000,0.7273,0.9437,0.6491,1.0000,0.3425,1.0000,0.0000,0.3228,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.1745,0.0000,0.6665,0.0751,0.2187,0.0000,0.0000,0.3266,0.2554,0.3000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1.0000,0.4918,0.0000,0.0000,0.0000,0.0000,0.0000,0.5651,0.2033,0.0000,0.0000,0.1972,1.0000,1.0000,0.1108,0.0000,0.0000,0.3228,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.4000,0.6665,0.0157,0.0330,0.0000,0.0000,0.0233,0.0306,0.7500
7039,0.0000,0.9672,0.0000,1.0000,0.0000,0.0000,0.0000,0.8391,0.1394,0.0000,0.0000,0.2056,0.4318,0.8000,0.5378,0.4000,0.8000,0.8646,0.2918,0.0000,0.4000,0.2000,0.2000,0.2000,0.6000,0.2000,0.6000,1.0000,0.8000,1.0000,0.5923,0.1493,0.0000,0.1067,0.1203,0.1529,0.5000
7040,1.0000,0.1311,1.0000,0.0000,1.0000,0.0000,0.0000,0.4216,0.2439,0.6000,0.0909,0.2817,0.0533,1.0000,0.4367,1.0000,1.0000,1.0000,0.6941,0.0000,0.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,0.8741,0.2578,0.0000,0.0000,0.1286,0.1935,0.0000
7041,0.0000,0.3115,0.0000,0.0000,0.6000,0.4000,0.3333,0.1204,0.6443,1.0000,0.0909,0.3239,0.0000,1.0000,0.0894,0.0000,0.0000,0.3228,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.6665,0.0164,0.0595,0.0000,0.0000,0.0536,0.0518,0.3500
7042,0.4000,0.4361,0.0000,0.2000,1.0000,0.6000,0.0889,0.1489,0.5879,0.0000,0.0000,0.0563,0.1058,1.0000,0.6853,0.0000,0.0000,0.3228,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.6665,0.0279,0.0110,0.0000,0.0000,0.0481,0.0221,0.5000

In [ ]:
new_data.insert(0, "Customer ID", all_data['Customer ID'].values)
new_data.insert(new_data.shape[1], "Churn Category", all_data['Churn Category'].values)
display(new_data.head())

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Latitude,Longitude,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,Avg Monthly GB Download,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Churn Category
0,0650-BWOZN,1.0000,0.2951,0.0000,0.0000,0.2000,0.0000,0.0000,0.5243,0.4646,0.0000,0.0000,0.4789,1.0000,1.0000,0.4838,0.0000,1.0000,1.0000,0.1882,0.0000,0.6000,1.0000,0.0000,1.0000,0.4000,0.0000,1.0000,0.0000,1.0000,1.0000,0.6657,0.3480,0.0000,0.0000,0.2505,0.3263,0.0000,1
1,0562-FGDCR,0.6000,0.5738,0.0000,0.0000,0.0000,0.0000,0.0000,0.2495,0.5827,0.0000,0.0000,0.0000,0.1058,0.2000,0.0000,0.0000,1.0000,0.0000,0.3412,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,1.0000,1.0000,0.0000,0.6000,0.1756,0.0020,0.0000,0.0000,0.0000,0.0012,0.0000,1
2,6688-UZPWD,1.0000,0.2885,1.0000,0.0000,0.4000,1.0000,0.0889,0.1240,0.6191,1.0000,0.3636,0.4789,0.0000,1.0000,0.8206,0.0000,0.0000,0.3228,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.4000,1.0000,0.0179,0.0841,0.0000,0.0000,0.4028,0.1807,0.6000,0
3,2905-KFQUV,1.0000,0.0656,1.0000,0.0000,0.0000,0.0000,0.0000,0.5050,0.2276,0.0000,0.0000,0.0845,0.1058,1.0000,0.4317,0.0000,1.0000,1.0000,0.8353,0.0000,0.0000,1.0000,0.4000,0.8000,0.4000,1.0000,0.0000,1.0000,0.4000,0.7999,0.5612,0.0607,0.0000,0.0667,0.0323,0.0572,0.5000,1
4,9720-JJJOR,0.0000,0.3607,0.0000,0.2000,1.0000,0.0000,0.0000,0.7566,0.3803,1.0000,0.7273,0.9437,0.6491,1.0000,0.3425,1.0000,0.0000,0.3228,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.1745,0.0000,0.6665,0.0751,0.2187,0.0000,0.0000,0.3266,0.2554,0.3000,0

## output csv file

In [ ]:
new_data.to_csv('missing_treated.csv', index = False)